:root {
    --block-size: 50px;
    --block-margin: 5px;
}

*:not(input):not(textarea) {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

* {
    font-family: helvetica;
    box-sizing: border-box;
}

.title {
    margin: 3px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#mainContainer {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 8fr;
    grid-gap: 1px;
}

#sidebar {
    height: 100vh;
    min-width: 300px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    border: 3px solid black;
    background-color: white;
}

/* levelControls */

#levelControls {
    margin: 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: 35px;
    grid-auto-flow: row;
    border: 1px solid black;
}

.controlsGridStretch {
    grid-column: 1 / span 2;
}

#levelSize {
    width: 100%;
}

#levelSizeControls * {
    width: 48%;
    height: 100%;
}

/* picker */

#picker {
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
    overflow: auto;
}

.typeSettings {
    margin: 5px;
    border: 1px solid black;
}

.selectedType {
    border-width: 3px;
}

/* status */

#status {
    grid-column: 1 / span 2;
    margin: 2px;
    padding: 5px;
}

.error {
    color: red;
}

/* levelView */

#levelView {
    background-color: white;
}

#levelViewContainer {
    height: 100vh;
    width: 80vw;
    overflow: scroll;
}

.row {
    display: grid;
    grid-auto-columns: calc(var(--block-size));
    grid-auto-flow: column;
    grid-template-rows: 1;
    grid-gap: calc(var(--block-margin)*2);
}

.cellContainer {
    width: var(--block-size);
    height: var(--block-size);
    display: grid;
    grid-template-columns: 1fr;
    margin: var(--block-margin);
    background-color: lightgray;
}

/*.cellContainer * {
    user-select: none;
}*/

.cell {
    width: var(--block-size);
    height: var(--block-size);
    grid-row-start: 1;
    grid-column-start: 1;
}

/* explorePopup */

#explorePopupContainer {
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    top: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#explorePopup {
    border: 1px solid black;
    background-color: white;
}