/* wallType */

.wallTypeLeft {
    border-left: 5px solid black;
}

.wallTypeRight {
    border-right: 5px solid black;
}

.wallTypeTop {
    border-top: 5px solid black;
}

.wallTypeBottom {
    border-bottom: 5px solid black;
}

.glassTypeLeft { /* retarded and not good */
    border-left: 5px dashed black;
}

.glassTypeRight {
    border-right: 5px dashed black;
}

.glassTypeTop {
    border-top: 5px dashed black;
}

.glassTypeBottom {
    border-bottom: 5px dashed black;
}

.fogTypeLeft { /* retarded and not good */
    border-left: 5px dotted gray;
}

.fogTypeRight {
    border-right: 5px dotted gray;
}

.fogTypeTop {
    border-top: 5px dotted gray;
}

.fogTypeBottom {
    border-bottom: 5px dotted gray;
}

.radioContainerLabel {
    font-weight: 900;
    margin-left: 5px;
}

.radioContainer {
    margin: 5px;
}

/*.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radioContainer input:checked ~ .radioContainerLabel {
    text-decoration: underline;
    color: red;
}*/

/* emptyType */

.emptyType {
    background-color: white;
}

/* generatorType */

.textDivContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 20%;
    height: 20%;
    margin: 5px;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.arrow[data-direction="top"] { transform: rotate(45deg); }
.arrow[data-direction="topRight"] { transform: rotate(90deg); }
.arrow[data-direction="right"] { transform: rotate(135deg); }
.arrow[data-direction="rightDown"] { transform: rotate(180deg); }
.arrow[data-direction="down"] { transform: rotate(225deg); }
.arrow[data-direction="downLeft"] { transform: rotate(270deg); }
.arrow[data-direction="left"] { transform: rotate(315deg); }
.arrow[data-direction="leftTop"] { transform: rotate(360deg); }

/* connector */

.connectorType {
    color: gray;
}

.connectorType.moveable {
    color: black;
}

/* objectId */

.objectId {
    font-size: 75%;
}

.objectIdContainer {
    margin: 5px;
}

.objectIdContainer input {
    width: 4em;
    margin-right: 5px;
}

/* helper */

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
    resize: none; 
}

/* other */

.inputContainer {
    margin: 10px;
}

.inputContainer select {
    margin-left: 5px;
}
